@{
    ViewData["Title"] = "Contact Us";
}
<div style="margin: 3% 5%;">
<div class="text-center">
    <h1 class="display-4">About US</h1><br /><br />

    <p>Shyam Murari - N01548607</p>
    <p>Urvi Mistry - N01546880</p>
</div>
</div>
