@{
    ViewData["Title"] = "Conatct Us";
}
<div style="margin: 3% 5%;">
<div class="text-center">
    <h1 class="display-4">Contact US</h1><br /><br />

    <p>Shyam Murari - murarigodara28@gmail.com</p>
    <p>Urvi Mistry - urvim17@gmail.com</p>
</div>
</div>
